RewriteEngine On # Turn on the rewriting engine
RewriteRule ^([a-z]*)/?$ index.php [NC,L]
RewriteRule ^([a-z]*)/([a-z]+)/?$ index.php?c=$1&m=$2 [NC,L]
RewriteRule ^avatars/([a-z]*)/([0-9]*)$ index.php?c=$1&m=$2